* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Display", Helvetica, Arial, sans-serif;
  letter-spacing: 0.015rem;
}

body {
  margin-left: 10.5rem;
}

button {
  border: transparent;
  background-color: transparent;
  color: #a6a6a6;
  font-size: 30px;
  font-weight: 700;
  width: 15px;
  height: 15px;
  margin: 30px 45px 25px 45px;
}

section {
  display: flex;
  gap: 100px;
  margin-left: 150px;
}

.one-t {
  display: grid;
  gap: 15px;
}

.one-t h1 {
  margin-bottom: 30px;
  font-size: 0.94rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #0078f6;
  letter-spacing: 0.03rem;
}

.one-t a {
  text-decoration: none;
  color: #888888;
  opacity: 0.9;
  font-size: 19.6px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.one-t a:hover {
  color: black;
  transition: all 0.3s linear;
}

.one-t span {
  margin-left: 3px;
  font-size: 12px;
  font-weight: 500;
}

.sent-items {
  display: flex;
  margin-left: 150px;
  gap: 150px;
  margin-top: 300px;
  margin-bottom: 75px;
}

.suplly p {
  font-size: 12px;
  font-family: 500;
  opacity: 0.8;
}

.suplly h2 {
  font-size: 22px;
  font-family: 900;
  letter-spacing: 0.5px;
}

.footer-menu {
  display: flex;
  align-items: center;
  color: black;
  font-size: 12.4px;
  font-weight: 500;
  gap: 10px;
  margin-bottom: 30px;
}

.footer-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(7, 7, 7);
}

.footer-detail-one {
  margin-left: 150px;
  width: 500px;
}

.footer-detail-one span {
  opacity: 0.5;
  font-size: 10.8px;
}
@media ONLY screen AND (max-width: 480px) {
  body {
    margin: 0;
    width: 100%;
  }
  section {
    margin: 10px;
    gap: 10px;
    width: 100%;
  }
  .one-t {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }
  .root1 {
    width: 100%;
  }
  .one-t a {
    font-size: 12px;
  }
  .one-t h1 {
    font-size: 13px;
  }
  .sent-items {
    margin: 20px 0 20px 20px;
    display: grid;
    gap: 30px;
  }
  .footer-detail-one {
    width: 100%;
    margin: 10px;
    flex-wrap: wrap;
  }
  .footer-menu {
    width: 100%;
    gap: 3px;
  }
  .footer-detail-one span {
    width: 100%;
    height: 100%;
    /* margin: 10px; */
  }
}
